html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

#calc-body {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 5px;
    flex-wrap: wrap;
    background-color: lightslategrey;
    border-radius: 4px;
    margin: 0 auto;
}

#screen {
    text-align: end;
    width: 295px;
    height: 40px;
    padding: 10px 10px;
    margin: 5px;
    background-color: rgb(221, 221, 247);
    border-radius: 5px;
}
#clear {
    width: 287px;
}

.button {
    width: calc(275px / 4);
    margin-top: 4px;
    height: 35px;
    border-radius: 2px;
}